::-webkit-scrollbar {
    width: 8px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    background-color: grey;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: rgb(60,60,60);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    /*background-color: #7c2929;*/
    background-color: #808080;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */


::-webkit-scrollbar-corner {
    background-color: #000000;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 95%;
   margin-left:0;
   margin-right:0;
    position:relative;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
/*    background-image:url('http://lorempixel.com/1024/760/nature/3/');*/
/*    background-size:cover;*/
/*    background-attachment:fixed;*/
}

.divider {
	margin-top:32px;
}



.main {
    background-color:#fefefe;
}
.main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.header{
    background-color: #343434;
}
.brand-logo{
    position: relative;
    bottom:15px;
}
.brand-logo img{
    width:50px
}
.large-text{
    color:white;
    font-weight: bold;
    font-size:14px;
    
}

.column-left{
    border-right-style: solid;
    border-width:1px;
    border-color:darkgray;
}

.img-small{
    width:20px
}
.font-large{
    font-weight: 600;
    font-size:16px;
}
.font-large a{
    color:purple;
/*    text-decoration: underline;*/
}

.info{
    margin-top:10px;
    position:relative;
    left:20px;
}
.info span{
    font-weight: bold;
}
.bold{
    font-weight: bold;
    color: grey;
    font-size:12px;
}
.padding-right{
    padding-right:10px;
}

.vendor{
    color: purple;
    position: absolute;
    bottom: -40px;
    right:0;    
}
.action a{
    text-decoration: none;
}
.space-5{
width:5px;display:inline-block
}

.fa-check{
    color:green;
}
.fa-times{
    color:darkred;
}
.fa-reply{
    color: black;
}

#login-box{
    background-image: url("../assets/background_tgeo.png");
    background-size:cover;
    background-attachment:fixed;
    height: 100%;
}
#login-wrapper{
    height: 100%;
}

#login-container{
    position: relative;
    top:40%;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.3);
}
#login-form{
}

#login-img-left{
    position: absolute;
    top:10px;
    left: 15px;
}
#login-img-left span{
    font-weight: bold;
}
#login-img-right{
    position: absolute;
    top:10px;
    right:15px;
    width:60px;
}
